<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查看广告</title>
    <include file="Public/H-ui_js_css"/>
    <!--图片放大缩小jquery-->
    <script type="text/javascript" src="/Public/BJs/content_zoom.js"></script>
</head>
<body>


<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 系统设置<span class="c-gray en">&gt;</span>广告管理<span class="c-gray en">&gt;</span>查看广告<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>


<?php $parentid?>
<div class="page-container">
    <div class="mt-20" style="margin-top: 3px">
        <div class="pd-10">
            <span style="font-size: 1em">广告位置：</span><span style="color: lightcoral">{$adtype.name}</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success radius ml-10" href="/Admin/Ad/adadd?tid={$adtype.id}">新增广告</a>&nbsp;
            <a class="btn btn-success radius ml-10" href="/Admin/Ad/adtype/">返回上一页</a>
        </div>
<table class="table table-border table-bordered table-hover table-bg" >
    <thead>
    <tr>
        <th style="text-align: center">广告ID</th>
        <th style="text-align: center">广告名称</th>
        <th style="text-align: center">广告图片</th>
        <th style="text-align: center">跳转位置</th>
        <th style="text-align: center">广告描述</th>
        <th style="text-align: center">排序</th>
        <th style="text-align: center">状态</th>
        <th style="text-align: center">点击次数</th>
        <th style="text-align: center">操作</th>
    </tr>
    </thead>
    <if condition="$lists">
        <volist name="lists" id="vo" key="k">
            <tr class="list">
                <td style="text-align: center;">{$vo.id}</td>
                <td style="text-align: center;">{$vo.name}</td>
                <td style="text-align: center;">
                    <span href="#zoom-{$k}" style="cursor:pointer">
                        <img src='{$vo.image}' height="50" width="50" />
                    </span>
                    <div id="zoom-{$k}" style="display:none;">
                        <img src="<?php echo $vo['image'];?>" />
                    </div>
                </td>
                <td style="text-align: center;">{$vo.url}</td>
                <td style="text-align: center;"><notempty name="vo.detail">{$vo.detail}<else />-</notempty></td>
                <td style="text-align: center;">{$vo.sort}</td>
                <td style="text-align: center;"><eq name="vo.status" value="1">启用<else/>停用</eq></td>
                <td style="text-align: center;">{$vo.hits}</td>
                <td style="text-align: center;"><eq name="vo.status" value="1">
                    <a href="javascript:;" onclick="changeStatus('{$vo.id}', 0)" style="color:red">停用</a>
                    <else/>
                    <a href="javascript:;" onclick="changeStatus('{$vo.id}', 1)" style="color:orange">启用</a> |
                    <a href="/Admin/Ad/adedit?id={$vo.id}&tid={$adtype.id}">编辑</a> |
                    <a href="#" onclick="del('{$vo.id}')" style="color:red">删除</a>
                </eq>
                </td>
            </tr>
        </volist>
        <else />
        <tr >
            <td colspan="11">
                <div style="text-align:center"><span>抱歉，没有找到相关数据。</span></div>
            </td>
        </tr>
    </if>

</table>
        </div>
</div>
</body>
</html>
<script>

    $(document).ready(function(){
        //图片放大镜效果
        $('span').fancyZoom({scaleImg: true, closeOnClick: true});
    })

    /*启用-停用*/
    function changeStatus(id,status){
        var title='';
        switch(status){
            case 0: title='确认要停用吗?';break;
            case 1: title='确认要启用吗?';break;
        }
        layer.confirm(
                title,
                {btn: ['确定','取消']},
                function(index){
                    var url = "/Admin/Ad/changeStatus1";
                    $.get(url, {id:id, status:status}, function(data){
                        if(data) {
                            layer.msg('修改成功', {icon: 6,time:6000});
                            location.reload();
                        } else {
                            layer.msg('修改失败', {icon: 5,time:4000});
                        }
                    })
                });
    }

    /*删除广告*/
    function del(id){
        layer.confirm(
                '确认要删除吗？',
                {btn: ['确定','取消']},
                function(index){
                    var url = "/Admin/Ad/delad";
                    $.get(url, {id:id}, function(data){
                        if(data.status ==1) {
                            layer.msg(data.info, {icon: 6,time:1000});
                            location.reload();
                        } else {
                            layer.msg(data.info, {icon: 5,time:1000});
                        }
                    })
                });
    }

</script>