<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加广告</title>
    <include file="Public/H-ui_js_css"/>
</head>
<body>

<form action="/Admin/Ad/adedit?ac=edit" method="post" style="margin-bottom: 2em;" enctype="multipart/form-data">
    <input type="hidden" name="tid" value="{$tid}"/>
    <input type="hidden" name="id" value="{$list.id}"/>
    <div class="page-container" style="margin-top: 1em;">
        <table class="table table-border table-bordered table-hover" >
            <thead>
            <tr>
                <th class="text-r">广告名称：</th>
                <td><input type="text" class="input-text" onkeyup="this.value=this.value.replace(/\s/,'');" name="name" value="{$list.name}" placeholder="广告名称" required/></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="text-r">广告描述：</th>
                <td><input type="text" class="input-text" onkeyup="this.value=this.value.replace(/\s/,'');" name="detail" value="{$list.detail}" placeholder="广告描述" required/></td>
            </tr>
            <tr>
                <th class="text-r">广告图片：</th>
                <td>
                    <input type="file" name="image" id='fileToUpload' style="display: block; float: left;margin-top: 15px;margin-left: 15px;" onchange="previewImage(this)" />
                    <div id="image"><img src="{$list.image}" id="img" style="width: 150px;height:50px;float: left;" alt="无图"></div>&nbsp;&nbsp;
                    <span style="color: #fe0000;font-size: 12px;display: block; float: left;margin-top: 15px;">建议上传图片尺寸为300*100</span>
                </td>
            </tr>
            <tr>
                <th class="text-r">跳转位置：</th>
                <td><input type="text" class="input-text" id="num" name="url" value="{$list.url}" required/></td>
            </tr>
            <tr>
                <th class="text-r">排序：</th>
                <td><input type="text" class="input-text" name="sort" value="{$list.sort}"/></td>
            </tr>
            <tr class="text-c">
                <td colspan="2">
                    <button style="width: 5em;height: 2.5em" type="submit" class="btn btn-success radius">确定</button>
                    <input style="width: 7em;height: 2.5em;margin-left: 2em" type="button" class="btn btn-primary radius" onclick="location.replace(document.referrer); return false;" value="取消并返回">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>





</body>
</html>
<script type="text/javascript">


    //本地预览
    function previewImage(file)
    {
        var MAXWIDTH  = 300;
        var MAXHEIGHT = 100;
        var div = document.getElementById('image');
        if (file.files && file.files[0])
        {
            var img = document.getElementById('img');
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width = rect.width;
                img.height = rect.height;
                img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=img>';
            var img = document.getElementById('img');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;margin-left:"+rect.left+"px;"+sFilter+src+"\"'></div>";
        }
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        param.width = 100;
        param.height = 100;
        return param;
    }
</script>