@topic-color:#099fde;
@sup-topic-color:#ff7d13;
@topic-color:#099fde;
@sup-topic-color:#ff7d13;

.index-header{height:3rem!important;padding:1.05rem 0.5rem!important;line-height: 3rem!important;}
input[type="text"] {
    outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
}
.tipsLayer{position: fixed;top: 40%;transform:translate(0,-50%); -webkit-transform:translate(0,-50%);z-index: 60000;width: 100%;background: none !important;}
.tipsLayer>div{width: 15em;min-width: 15em;text-align: center;background-clip: padding-box;border-radius: 6px;line-height: 2em;font-size: 1.5rem;background-color: rgba(0,0,0,0.8);color: #fff;margin: 0 auto;position: static;}
.tipsLayer>div>p{text-align: center;}
.tipsLayer>div>p>img{width: 3rem;height: 3rem;}
.tipsLayer.hide{display: none !important;}

.set-time{width:100%;font-size:1.5rem;background-color: #ddd;}

div.gototop{display:none;position:fixed;right:1rem;bottom:2rem;border-radius: 50%;font-size: 1rem;text-align: center;background-color: #fff;color:#666;padding:0.5rem;    border: 1px solid #ddd;}
div.gototop i{font-size:3rem!important;}

p{padding:0;margin:0;}
.fixed{position: fixed;top: 0;  }  
.JMsticky {width: 100%;	text-transform: uppercase;  }  
#loader_model {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: url(/web/img/loading.gif);
    background-repeat: no-repeat;
    background-color: #fff;
    z-index: 100000;
    background-position: 50%;
}    
.sent{background-color: #eee;color:#999!important;border-color: #eee!important;}
.mbsc-sc-itm-sel{color:@topic-color;}