*{margin: 0;padding: 0;}
html,body{background-color: #fff;}
i{font-style:normal}
.competitiveVideo video{width: 100%;height: 21.2rem;background-color: #000;}
.competitiveVideo img{width: 100%;}
.competitiveMessage{padding: 0.95rem 0.9rem 0 0.9rem;color: rgb(51,51,51);}
.competitiveTitle{font-size: 1.7rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.competitiveLable{margin-top: 2.9rem;}
.lableTip{width: 5rem;height: 2rem;font-size: 1rem;line-height: 2rem;text-align: center;display: block;float: left;background-color: #eee;border-radius: 0.25rem;margin-right: 1rem;}
.competitiveStatus{margin-top: 1.45rem;font-size: 1.1rem;}
.competitiveStatus i{margin-left: 0.5rem;}
.praiseStatus{margin-left: 1.5rem;}
.competitiveOffice{padding: 1rem 0;}
.competitiveImage{width: 3.2rem;height: 3.2rem;border-radius: 50%;}
.competitiveBelong{margin-left: 0.45rem;}
.competitiveBelong>div:nth-child(1){font-size: 1.2rem;color: rgb(96,127,171);}
.competitiveBelong>div:nth-child(2){font-size: 1rem;color: rgb(153,153,153);}
.competitiveFollow{font-size: 1.4rem;height: 2.6rem;width: 6rem;text-align: center;color: #fff;background-color: #607fab;line-height: 2.6rem;border-radius: 0.3rem;}
.competitiveFollowGet{background-color: rgb(204,204,204);}
.competitiveOther{padding: 0 0.9rem;}
.competitiveOther li{padding: 1.25rem 0 1.35rem;}
.competitiveOther .fac:nth-child(n+6){display: none;}
.competitiveOtherTitle{font-size: 1.6rem;color: #000;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.competitiveOtherStatus{margin-top: 1.8rem;font-size: 1rem;color: rgb(153,153,153);}
.competitiveOtherStatus>span:nth-child(2){margin-left: 1.3rem;}
.competitiveOtherImg{position: relative;margin-left: 1.3rem;}
.competitiveOtherImg{width: 11.5rem;height: 7.6rem;}
.competitiveOtherImg img{width: 11.5rem;height: 100%;}
.competitiveOtherVideoTime{opacity: 0.7;border-radius: 0.75rem;position: absolute;bottom: 0.6rem;right: 0.6rem;z-index: 999;background-color: #000;color: #fff;font-size: 1rem;}
.competitiveOtherVideoTime span{background: url("/web/assets/image/smdg/ico_bofang_1@2x.png") no-repeat center;line-height: 1.6rem;background-size: 0.7rem 0.9rem;background-position: 0.7rem;padding-left: 1.5rem;padding-right: 0.3rem;display: inline-block;}
.competitiveOther .competitiveOtherMore{width: 80%;height: 4.1rem;line-height: 4.1rem;padding: 0;margin: 0 auto;text-align: center;background-color: #f8f8f8;color: #333;font-size: 1.4rem;}
.competitiveSofa{padding: 2.3rem 0 4.8rem;text-align: center;display: none;}
.competitiveSofa>div{margin: 0 auto;}
.competitiveSofaImg{background: url("/web/assets/image/smdg/ico_shafa@2x.png") no-repeat center;width: 3.2rem;height: 3.2rem;background-size: 3.2rem 3.2rem;}
.competitiveSofa .competitiveSofaTip{margin-top: 1rem;font-size: 1.2rem;color: rgb(153,153,153);}
.competitive .comment-list{padding: 1rem 0.9rem 0;}
.competitive .comment-list li{position: relative;margin-bottom: 1rem;}
.competitive .comment-list li .comment-usrImg{width: 2.8rem;height: 2.8rem;}
.competitive .comment-list li .commemt-main{margin-top: 0.7rem;margin-left: 0.86rem;font-size: 1.4rem;}
.competitive .comment-list li .commemt-main .comment-usrName{margin-bottom: 1.7rem;color:rgb(96,127,171);}
.competitive .comment-list li .commemt-main .comment-other{margin-top: 1rem;color:rgb(153,153,153);font-size: 1rem;}
.competitive .comment-list li .like-box{position: absolute;right: 0;top: 0.7rem;padding-left: 1.6rem;background: url('/web/assets/image/smdg/liuyan_ico_dianzan_td@2x.png') no-repeat left center;background-size: 1.2rem;}
.competitive .comment-list li .unlike-box{background: url('/web/assets/image/smdg/liuyan_ico_dianzan@2x.png') no-repeat left center;background-size: 1.2rem;}
.competitiveOtherMore,.competitiveCommentAdd{width: 80%;height: 4.1rem;line-height: 4.1rem;padding: 0;margin: 0 auto 4.8rem;text-align: center;background-color: #f8f8f8;color: #333;font-size: 1.4rem; display: none;}
.competitiveComment{padding: 0.75rem 1rem 0.85rem;background-color: rgb(248,248,248);position: fixed;bottom: 0;width: 100%;z-index: 1000;}
.competitiveComment>div:nth-child(1){border-radius: 0.3rem;}
#competitiveCommentMsg{width: 19rem;height: 3.2rem;border: none;}
.common{width: 2.2rem;height: 2.2rem;}
.competitiveCommentTo{background: url("/web/assets/image/smdg/ico_pinglun@2x.png") no-repeat center;background-size: 2.1rem 2.1rem;margin-right: 3rem;position: relative;}
.competitiveCommentTo .box-nums{position: absolute;background-color: rgb(255,85,85);top: -0.5rem;right: -1rem;border-radius: 0.55rem;color: #fff;width: 2rem;text-align: center;}
.competitiveCommentCollect{background: url("/web/assets/image/smdg/ico_shoucang@2x.png") no-repeat center;background-size: 2.1rem 2.1rem;margin-right: 3rem;}
.competitiveCommentCollectGet{background: url("/web/assets/image/smdg/ico_shoucang_td@2x.png") no-repeat center;background-size: 2.1rem 2.1rem;margin-right: 3rem;}
.competitiveCommentFabulous{background: url("/web/assets/image/smdg/ico_dianzan@2x.png") no-repeat center;background-size: 2.1rem 2.1rem;margin-right: 2rem;}
.competitiveCommentFabulousGet{background: url("/web/assets/image/smdg/ico_dianzan_td@2x.png") no-repeat center;background-size: 2.1rem 2.1rem;margin-right: 2rem;}
.hideThis{display: none;}

/*评论*/
.bs-reply{width: 100%;height: 100%;display: none;z-index: 1000;position: fixed;top: 0;left: 0;background-color: #fff;right: 0;bottom: 0;overflow: hidden;}
.bs-reply>div{position:relative;padding: 2.2rem;}
.bs-reply-text{width: 96% !important;background-image:none !important;color: #333 !important;margin: 1rem 0.5rem 0 2%;}
.content-textarea{resize: none;overflow-x: hidden;color: #333;line-height: 21px;width: 95%;height: 10.5rem;padding: 1rem;-webkit-user-select: text;border: 1px solid #fff;outline: 0;background-color: #f3f3f3;-webkit-appearance: none;border-radius: 0.5rem;font-size: 1.4rem;}
.bs-comment-apply{width: 45%;height: 3.6rem;line-height: 3.6rem;color: #fff;font-size: 1.4rem;background-color: #F5b617;text-align: center;border-radius: 0.3rem 0.3rem;}
.bs-comment-close{width: 45%;height: 3.6rem;line-height: 3.6rem;background: #f8f8f8;font-size: 1.4rem;color: #333;text-align: center;border-radius: 0.3rem 0.3rem;border: 1px solid #ddd;}
